.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(-45deg, #0bd79a, #d8ed51, #219bc7, #7cfcde);
  animation: gradient 30s ease infinite;
  -webkit-animation: gradient 30s ease infinite;
  background-size: 200% 200%;
  overflow: hidden;
}

.background-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(4px) brightness(0.6);
}

.login-frame {
  position: relative;
  z-index: 1;
  width: 420px;
  background: #ffffffcc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input-container label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.login-input-container input {
  width: 100%;
  height: 55px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f6f5f5;
  transition: border-color 0.3s ease;
}

.login-input-container input:focus {
  outline: none;
  border-color: #33a0ff;
}

.login-btn {
  width: 100%;
  height: 70px;
  background: #33a0ff;
  border-radius: 10px;
  font-weight: 800;
  font-size: 24px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #1e88e5;
}

/* Tugmalar konteyneri */
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Home va Signup tugmalari */
.home-button,
.signup-btn {
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  user-select: none;
  border: 1px solid transparent;
}

/* Home tugmasi */
.home-button {
  background-color: white;
  color: #33a0ff;
  border: 1px solid #33a0ff;
}

.home-button:hover {
  background-color: #33a0ff;
  color: white;
}

/* Signup tugmasi */
.signup-btn {
  background-color: white;
  color: #33a0ff;
  border: 1px solid #33a0ff;
}

.signup-btn:hover {
  background-color: #1e88e5;
  border-color: #1e88e5;
}

/* Gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
